.resList-box{
    background-color: #FFFFFF;
    list-style:none;
    width: 980px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}