.rest-li {
    width: 242px;
    height: 288px;
}
.fl {
    float: left;
}

.restaurant .rest-atag {
    display: block;
    height: 100%;
    position: relative;
}

.restaurant .top-content {
    height: 250px;
}

div {
    display: block;
}


div {
    display: block;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    padding-left: 0;
    list-style-type: none;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
body {
    font: 12px/1.125 Microsoft Yahei,Arial,Helvetica,sans-serif;
    background: #fff;
    line-height: 1.4;
}

.restaurant .preview img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.scroll-loading {
    background-image: url(http://xs01.meituan.net/waimai_web/img/dyl_1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.rest-tags {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
}

.restaurant .content {
    margin-top: 10px;
}

.restaurant .content {
    margin-top: 10px;
}

.restaurant .name span {
    font-size: 16px;
    color: #313131;
}

.restaurant .rank {
    margin: 10px 0 8px;
}
.clearfix, .search-box .result-right li {
    zoom: 1;
}

.restaurant .star-ranking {
    margin-top: 1px;
    background-image: url(data:image/NGf;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAYAAAC9QufkAAAAGXRFW…SENE3Nkft7zbnneZ5ZFPQqZDX0A+JpmuD7PrIs+9PzS4ABAF1/c+uyTTYfAAAAAElFTkSuQmCC);
}

.restaurant .score-num {
    color: #707070;
    margin-left: 5px;
}

.restaurant .start-price {
    float: left;
    max-width: 60px;
    margin-right: 15px;
}
.restaurant .price {
    color: #707070;
}

.restaurant .send-price {
    float: left;
}

.restaurant .send-time {
    float: right;
}

.i-poi-timer {
    width: 14px;
    height: 14px;
    background-position: -272px -426px;
}

.clear {
    clear: both;
}