
.search {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 500px;
    background: url(//faas.elemecdn.com/desktop/media/img/map.a76df5.png) center no-repeat #008de1;
    background-size: cover;
}

body.hidesidebar {
    padding-right: 0px;
}

body.whitebody {
    background-color: #fff;
}

body {
    background: #f7f7f7;
    padding-right: 35px;
}

.container {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 500px;
    width: 100%;
    background: url(/src/img/map.a76df5.png) center no-repeat #008de1;
    background-size: cover;
}

.kobe{
    position: relative;
    right: 0px;
    top: 0px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 500px;

    background: url(/src/img/image_kobe.b5df90.png) left no-repeat #008de1;
}